@use "sass:map";
@use "parts/mixins" as *;
@use "parts/variables" as *;
@use "parts/fonts";
@use "parts/headings";
@use "parts/dice";
@use "parts/links";
@use "parts/aside";
@use "parts/legend";
@use "parts/layout";
@use "parts/card-list";
@use "themes/dark";


:root {
    // Fonts
    --text-font: "Inter";
    --header-font: "Spectral SC";
    --code-font: "Victor Mono";

    // Layout
    --border-radius: 4px;

    // Scrollbar
    &::-webkit-scrollbar {
        width: 13px;

        &-track {
            background-color: var(--bg-1);
        }

        &-thumb {
            background-color: var(--primary-color);
            margin: 20px;
        }
    }
}

html {
    background-color: var(--bg-0);
    color: var(--text-0);
    font-family: var(--text-font);
    line-height: 1.6em;

    @include respond-to('sm') {
        font-size: map.get($font-sizes, 'small');
    }

    @include respond-to('md') {
        font-size: map.get($font-sizes, 'medium');
    }

    @include respond-to('lg') {
        font-size: map.get($font-sizes, 'large');
    }
}

// Selection styles
::selection {
    background-color: var(--bg-selection);
    color: var(--text-selection);
}

::-moz-selection {
    background-color: var(--bg-selection);
    color: var(--text-selection);
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    word-wrap: break-word;
}