---
import Layout from '../../layouts/Layout.astro';
import CharacterList from '../../components/CharacterList.astro';

---

<Layout>
    <main>
        <h1>Персонажи</h1>
        <CharacterList />
    </main>
</Layout>
