---
import type { CollectionEntry } from "astro:content";
import BeastCard from "./BeastCard.astro";

interface Props {
    beast: CollectionEntry<'bestiary'>;
    Content: any;
}

const { beast, Content } = Astro.props;
---

<article class="beast-detail">
    <div class="beast-detail__header">
        <BeastCard beast={beast} />
    </div>
    <div class="beast-detail__content">
        <Content />
    </div>
</article>

<style lang="scss">
.beast-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;

    &__header {
        margin-bottom: 2rem;
    }

    &__content {
        :global(h1) {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        :global(h2) {
            font-size: 1.5rem;
            margin: 1.5rem 0 1rem;
        }

        :global(p) {
            margin-bottom: 1rem;
            line-height: 1.6;
        }

        :global(ul), :global(ol) {
            margin: 1rem 0;
            padding-left: 2rem;
        }

        :global(li) {
            margin-bottom: 0.5rem;
        }
    }
}
</style> 