---
import type { CollectionEntry } from "astro:content";
import BeastCard from "./BeastCard.astro";

interface Props {
    beast: CollectionEntry<'bestiary'>;
    Content: any;
}

const { beast, Content } = Astro.props;
---

<article class="beast-detail">
    <div class="beast-detail__header">
        <BeastCard beast={beast} />
    </div>
    <div class="beast-detail__content">
        <Content />
    </div>
</article>
