---
interface Props {
    formula: string;
}

const { formula } = Astro.props;
---

<div class="rollableDice" data-formula={formula}>
    <span class="rollableDice__text">{formula}</span>
    <div class="rollableDice__tooltip" id="tooltip"></div>
</div>

<script>
    import { DiceRoll } from "@dice-roller/rpg-dice-roller";
    
    document.querySelectorAll(".rollableDice").forEach((element) => {
        const formula = element.getAttribute("data-formula");
        const tooltip = element.querySelector(".rollableDice__tooltip");

        if (formula && tooltip) {
            element.addEventListener("click", () => {
                const roll = new DiceRoll(formula);
                tooltip.textContent = roll.total.toString();
                tooltip.classList.add("rollableDice__tooltip--visible");
            });

            element.addEventListener("mouseleave", () => {
                tooltip.classList.remove("rollableDice__tooltip--visible");
            });
        }
    });
</script>

