---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1>Создание персонажа</h1>

    <h2>Придумать концепт</h2>

    <ul>
        <li>Имя, происхождение, манера поведения</li>
        <li>Кто он в этом мире?</li>
    </ul>

    <h2>Распределить характеристики</h2>

    Можно воспользоваться инструментом <a href="/pointbuy">закупа характеристик</a>. Описание характеристик <a href="/mechanics/characteristics">на странице</a>
</Layout> 