---
import Header from "@components/Header.astro";
import "@styles/main.scss";
import { Icon } from "astro-icon/components";
import navigation from "@data/navigation.json";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Calling of darkness</title>
	</head>
	<body>
		<Header />
		<div class="layout">
			<aside>
				<nav>
					<h2>Справочники</h2>
					<ul>
						{
							navigation.map((item) => (
								<li>
									<a href={`/${item.id}`}>
										<Icon name={item.icon} />
										{item.label}
									</a>
								</li>
							))
						}
					</ul>
				</nav>
			</aside>
			<div class="content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
